<div class="container" style="height:550px; margin-top: 20px;">
  <div class="row center-div">
      <div class="col-lg-4 col-md-13 col-sm-12">
        <img src="https://media1.giphy.com/media/8L0Pky6C83SzkzU55a/200w.webp?cid=3640f6095c8b30a7516e72346762c475" alt="404 image">
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 message">
        <p class="erreur"><span>E</span>rreur <span>404</span>! La page que vous recherchez n'existe pas</p>
        <button class="btn btn-danger" [routerLink]="['']">Acceuil</button>
      </div>
  </div>
  
</div>
