<div class="wide">
    <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo"><h1>Afreelance</h1></div>
    <div class="col-xs-5 line"><hr></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="description ">
            <h1> 
                <p>    
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>   
                <button class="btn btn-outline-secondary btn-lg">Submit your project</button>  
            </h1>  
        </div>
    </div>
</div>

<div class="domains">
    <div class="text-center">
        <h1>Get a Freelance in the following domains</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 hovereffect">
                <div class="hovereffect">
                    <img src="https://cdn1.iconfinder.com/data/icons/education-set-5/512/development-512.png" class="img-fluid" alt="Computer Science">
                    <div class="overlay">
                        <h2>Computer Science</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 hovereffect">
                <div class="hovereffect">
                        <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/digital-marketing-31-839018.png" class="img-fluid" alt="Digital Marketing">
                    <div class="overlay">
                        <h2>Digital Marketing</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 hovereffect">
                <div class="hovereffect">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMD9aLd_O471px27DSq775Cpk0L3rF81xsvik_CkQtRTs5cUva" class="img-fluid" alt="Logistic">
                    <div class="overlay">
                        <h2>Logistic</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 hovereffect">
                <div class="hovereffect">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9hFoE1UHb5FNVaej9dVQd3L9I8F6a0tLhj7dc_--MOUHuVCaU" class="img-fluid" alt="Business">
                    <div class="overlay">
                        <h2>Business</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="hovereffect">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWbJ17i_IdFfWdgN1wkUYcp0GhQib14WVO9jeovqmdqwypap9gQ" class="img-fluid" alt="">
                    <div class="overlay">
                        <h2>Personal groth</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="hovereffect">
                        <img src="https://www.freeiconspng.com/uploads/edit-learning-writing-icon--0.jpg" class="img-fluid" alt="Writing and Translation">
                    <div class="overlay">
                        <h2>Writing and Translation</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="hovereffect">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMD9aLd_O471px27DSq775Cpk0L3rF81xsvik_CkQtRTs5cUva" class="img-fluid" alt="">
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="hovereffect">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWwyAndI4nGxQIEL1bDfULdmZvZyAiqnpqLnrQCzr_2DcbGNbT" class="img-fluid" alt="">
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                        <a class="info" href="#">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid domains1">
    <div class="text-center">
        <h1>Get an insight of the various domains</h1>
    </div>
</div>