<div class="content">
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fa fa-bars" style="font-size:24px"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper"> 
      <div class="sidebar-content">
          <div class="sidebar-brand">
            <a href="#">pro sidebar</a>
            <div id="close-sidebar">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">Vince
                <strong>Ron</strong>
                </span>
                <span class="user-role">Freelance</span>
                <span class="user-status">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </span>
            </div>
          </div>
          <!-- sidebar-header  -->
          <div class="sidebar-search">
              <div>
              <div class="input-group">
                  <input type="text" class="form-control search-menu" placeholder="Search...">
                  <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  </div>
              </div>
              </div>
          </div>
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>Vos Projets</span>
              </li>
              <li class="sidebar-dropdown active">
                <a href="#">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                    <span class="badge badge-pill badge-warning">New</span>
                </a>
                <div class="sidebar-submenu" style="display:block;">
                    <ul>
                    <li>
                        <a href="#">Project 1
                        <span class="badge badge-pill badge-success">Pro</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Project 2</a>
                    </li>
                    <li>
                        <a href="#">Project 3</a>
                    </li>
                    </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                  <a href="#">
                      <i class="fa fa-shopping-cart"></i>
                      <span>Vos Clients</span>
                      <span class="badge badge-pill badge-danger">3</span>
                  </a>
                  <div class="sidebar-submenu">
                      <ul>
                      <li>
                          <a href="#">Entreprise 1
                          </a>
                      </li>
                      <li>
                          <a href="#">Orders</a>
                      </li>
                      <li>
                          <a href="#">Credit cart</a>
                      </li>
                      </ul>
                  </div>
              </li>
              <li class="sidebar-dropdown">
                  <a href="#">
                  <i class="far fa-gem"></i>
                  <span>Parametres</span>
                  </a>
                  <div class="sidebar-submenu">
                  <ul>
                      <li>
                      <a href="#">Profile</a>
                      </li>
                      <li>
                      <a href="#">carieres</a>
                      </li>
                      <li>
                      <a href="#">bisibilite</a>
                      </li>
                  </ul>
                  </div>
              </li>
              
              <li class="header-menu">
                  <span>Extra</span>
              </li>
              <li class="header-menu">
                  <span>Extra</span>
              </li>
              <li>
                  <a href="#">
                  <i class="fa fa-book"></i>
                  <span>Documentation</span>
                  <span class="badge badge-pill badge-primary">Beta</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                  <i class="fa fa-calendar"></i>
                  <span>Calendar</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                  <i class="fa fa-folder"></i>
                  <span>Examples</span>
                  </a>
              </li>
            </ul>
          </div>
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
          <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
          </a>
          <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
          </a>
          <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
          </a>
          <a href="#">
          <i class="fa fa-power-off"></i>
          </a>
      </div>
    </nav>
  </div>
</div>
